# Исключаем ВСЕ файлы и папки в корне
/*
!/deploy/
!/.gitignore

# Исключаем папку scripts (локальные скрипты)
/scripts/

# Исключаем зависимости и базу данных из deploy
/deploy/server/node_modules/
/deploy/server/*.db
/deploy/server/*.sqlite
